# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

*.h5
*.pt

# Ignore all keras files except the deployed model
*.keras
!model/plant_disease_model.keras

# OS files
.DS_Store
Thumbs.db